html {
	--content-width: 90%;
	--space-between-content: calc(var(--size-content-1) / 2); 
	--background-opacity: 70%;
	--border-thin: var(--border-size-1) solid;
	--input-field-width: 80%;

	--font-size-sm: var(--font-size-2);
	--font-size-md: var(--font-size-4);
	--font-size-lg: var(--font-size-6);
	--font-size-xl: var(--font-size-8);

	/* dark */
	--brand-dark: var(--yellow-3);
	--text-1-dark: var(--gray-2);
	--text-2-dark: var(--gray-0);
	--background-1-dark: hsl(var(--gray-11-hsl) / var(--background-opacity));
	--background-2-dark: linear-gradient(90deg, rgba(29, 52, 135, 0.6), rgba(8, 10, 116, 0.6), rgba(6, 7, 45, 0.6));
	--text-dark: var(--gray-3);
	--accent-dark: var(--cyan-2);
	--item-dark: hsl(var(--gray-10-hsl) / var(--background-opacity));

	/* light */
	--brand-light: var(--yellow-8);
	--text-1-light: var(--gray-7);
	--text-2-light: var(--gray-8);
	--background-1-light: hsl(var(--gray-4-hsl) / var(--background-opacity));
	--background-2-light: linear-gradient(90deg, #a2dffc, #0099cc, #006699);
	--accent-light: var(--gray-6);
	--item-light: hsl(var(--gray-2-hsl) / var(--background-opacity));
}

:root {
	--brand: var(--brand-dark);
	--text-1: var(--text-1-dark);
	--text-2: var(--text-2-dark);
	--background-1: var(--background-1-dark);
	--background-2: var(--background-2-dark);
	--accent: var(--accent-dark);
	--item: var(--item-dark);
}

.light:root {
	--brand: var(--brand-light);
	--text-1: var(--text-1-light);
	--text-2: var(--text-2-light);
	--background-1: var(--background-1-light);
	--background-2: var(--background-2-light);
	--accent: var(--accent-light);
	--item: var(--item-light);
}

html {
	color: var(--text-1);
	scroll-behavior: smooth;
	font-family: 'Shippori Mincho B1', serif;
}

body {
	font-size: var(--font-size-md);
	background: var(--background-2);
}

h1, h2, h3, h4, h5, b {
	font-weight: normal;
}

p {
	letter-spacing: var(--font-letterspacing-3);
	min-width: 100%;
}

h2, h3 {
	color: var(--text-2);
}

h1 {
	font-size: var(--font-size-md);
}

h2 {
	font-size: var(--font-size-xl);
	margin-bottom: var(--size-8);
}

h3 {
	margin-bottom: var(--size-7);
}

a {
	font-size: var(--font-size-md);
	color: inherit;
	text-decoration: none;
}

a:visited {
	color: inherit;
}

img {
	border-radius: var(--radius-3);
}

ul,
ol {
	list-style: none;
	padding: 0;
}

li {
	padding-left: 0;
}

button {
	background: transparent;
	color: var(--text-1);
	height: 100%;
}

input, textarea, button, select {
	font: inherit;
}

label {
	display: block;
	font-size: var(--font-size-sm);
}

textarea {
	resize: vertical;
}

input, textarea {
	display: block;
	width: 100%;
	line-height: var(--font-lineheight-4);
	padding: var(--size-3);
	background-color: transparent;
	border-bottom: var(--border-thin) var(--text-1);
	border-radius: 0;
	transition: border-color 500ms;
}

@media(min-width: 769px) {
	input, textarea {
		width: var(--input-field-width);
	}
}

input:focus, textarea:focus {
	border-color: var(--brand);
	outline: none;
}

input::placeholder,
textarea::placeholder {
	line-height: var(--font-lineheight-4);
}

.ax-btn {
	all: unset;
	outline: revert;
	box-sizing: border-box;
	display: inline-block;
	cursor: pointer;
	font: inherit;
}

.prose {
	max-width: 35em;
}

.prose p {
	letter-spacing: var(--font-letterspacing-4);
	min-width: 100%;
}

@media (max-width: 768px) {
	.prose p {
		letter-spacing: var(--font-letterspacing-2);
	}
}